
<div local-class="index_page_container">
  <section local-class="index_page_body_container">
    <div local-class="index_page_header_container">
      <Dynamic::Ui::Header
        @headerNameFirst={{this.headerNameFirst}}
        @headerNameLast={{this.headerNameLast}}
      />
    </div>
    <div local-class="index_page_content_container">
      <div local-class="index_page_action_container">
        <LinkTo @route='amina'>
          <div local-class="index_page_block_container">
            <div local-class="index_page_block_text_container">
            Collaborative Design <br />
            Design for usability <br />
            Design strategy <br />
            UI & UX design
            </div>
            <div local-class="index_page_block_title_container">
              User-Centered Design
            </div>
          </div>
        </LinkTo>
        <LinkTo @route='ryan'>
          <div local-class="index_page_block_container">
            <div local-class="index_page_block_text_container">
            Frontend <br />
            Backend <br />
            Web development <br />
            Project planning
            </div>
            <div local-class="index_page_block_title_container">
              Deadline-Driven Development
            </div>
          </div>
        </LinkTo>
        <div local-class="index_page_button_container">
          <LinkTo @route={{@indexPageButtonRoute}}>
            <Dynamic::Ui::Buttons::Wide
              @buttonLabel={{this.buttonLabel}}
            />
          </LinkTo>
        </div>
      </div>
      <div local-class="index_page_fine_print_container">
        <div local-class="index_page_built_by_container">
          <p>
            designed & built by DESIGNMONSTER LLC
          </p>
        </div>
        <div local-class="index_page_copyright_container">
          <FaIcon @icon="copyright" @prefix="far" />
          2020
        </div>
      </div>
    </div>
  </section>
</div>