
<div local-class="index_page_component_container">
  <section local-class="index_page_body_container">
    <div local-class="index_page_header_container">
      <div local-class="index_page_header_name_container">
        Design Monster
      </div>
    </div>
    <div local-class="index_page_content_container">
      <LinkTo @route='ryan'>
        <div local-class="index_page_profile_container">
          <div local-class="index_page_image_container">
            <img src='assets/images/RyanHeadShot.png' alt="Amina">
          </div>
          <div local-class="index_page_label_container">
            Amina::Design & UX
          </div>
        </div>
      </LinkTo>
      <LinkTo @route='ryan'>
        <div local-class="index_page_profile_container">
          <div local-class="index_page_image_container">
            <img src='assets/images/RyanHeadShot.png' alt="Ryan">
          </div>
          <div local-class="index_page_label_container">
            Ryan::Develop
          </div>
        </div>
      </LinkTo>
    </div>
  </section>
</div>