@import 'global/variables';
@import 'global/breakpoints';

.dashboard_block_container {
  display: flex;
  flex-direction: column;
  margin: 0 0 $margin_large;
  border-bottom: $border_three;

  a {
    text-decoration: none;
  }

  .dashboard_block_title_container {
    margin: 0 0 $margin_small;
    font-size: 2em;
  }

  .dashboard_block_date_container {
    margin: 0 0 $margin_small;
  }

  .dashboard_block_description_container {
    margin: 0 0 $margin_large;
  }

  .dashboard_block_button_container {
    margin: 0 0 $margin_large;
  }
}
