$color_pebble_blue: lighten($color_stone_blue, 50%);
$color_stone_blue: #336b87;

@mixin button {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 12px $color_stone_blue;
	transition: box-shadow 0.5s;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 150%;
    height: 100%;
    content: '';
    background: darken($color_pebble_blue, 20%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform-origin: 0% 100%;
  }

  &:hover {
    color: $color_black;
    box-shadow: 0 5px 12px $color_stone_blue;

    &:before {
      opacity: 1;
      transition-timing-function: cubic-bezier(0.18, 0.63, 0.69, 0.49);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }

  &:active {
    background-color: $color_stone_blue;
  }
}
