
<div local-class="home_component_container">
  <div local-class="home_header_container">
    <Structural::Ui::Header />
  </div>
  <div local-class="home_content_container">
    <div local-class="home_content royal_purple">
    </div>
    <div local-class="home_content orange">
    </div>
    <div local-class="home_content blue second">     
    </div>
    <div local-class="home_content orange">
    </div>
    <div local-class="home_content royal_purple">
    </div>
  </div>
  <div local-class="home_footer_container">
    <Structural::Ui::Footer />
  </div>
</div>