@import 'global/variables';
@import 'global/breakpoints';

.portfolio_page_container {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
  }

  @include breakpoint(wide) {
    flex-direction: row;
  }

  .portfolio_page_side_bar_container {
    display: flex;
    min-width: 17.1875rem;
    max-width: 17.1875rem;
    flex-direction: column;
    overflow-y: scroll;
    border-right: $border_three;
    justify-content: center;
  }

  .portfolio_page_body_container {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;

    .portfolio_page_header_container {
      display: flex;

      @include breakpoint(large) {
        min-height: $height_extra_extra_large;
        max-height: $height_extra_extra_large;
        margin: 0 0 $margin_large;
      }

      @include breakpoint(wide) {
        min-height: $height_extra_extra_large;
        max-height: $height_extra_extra_large;
        margin: 0 0 $margin_large;
      }
    }

    .portfolio_page_content_container {
      margin: $margin_extra_large 0 0;

      .portfolio_page_dashboard_row_container {
        margin: 0 0 $margin_small;

        @include breakpoint(large) {
          margin: 0 0 $margin_large;
        }

        @include breakpoint(wide) {
          margin: 0 0 $margin_large;
        }
      }
    }
  }
}
