@import 'global/variables';
@import 'global/breakpoints';

.header {
  display: flex;
  min-height: $height_extra_large;
  max-height: $height_extra_large;
  flex: 1;
  border-bottom: $border_two;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(large) {
    min-height: $height_extra_extra_large;
    max-height: $height_extra_extra_large;
  }

  @include breakpoint(wide) {
    min-height: $height_extra_extra_large;
    max-height: $height_extra_extra_large;
  }

  .hamburger_button_container {
    margin: 0 0 0 $margin_small;
  }

  .header_text_container {
    display: flex;
    align-self: flex-end;
    align-items: baseline;

    a {
      color: $font_color_primary;
      text-decoration: none;

      &:visited {
        color: $font_color_primary;
      }
    }

    .header_name_container {
      display: flex;
      font-size: $font_size_extra_extra_large;
      color: $font_color_primary;

      @include breakpoint(large) {
        margin: 0 $margin_medium 0 $margin_small;
      }
    
      @include breakpoint(wide) {
        margin: 0 $margin_medium 0 $margin_small;
      }

      &.indented {

        @include breakpoint(large) {
          margin: 0 0 0 17.1875rem;
        }
      
        @include breakpoint(wide) {
          margin: 0 0 0 17.1875rem;
        }
      }

      .bold {
        font-weight: 600;
      }
    }

    .header_title_container {
      font-size: $font_size_extra_large;
    }
  }

  .header_button_container {
    margin: 0 $margin_small 0 0;

    @include breakpoint(large) {
      margin: 0 $margin_large 0 0;
    }
  
    @include breakpoint(wide) {
      margin: 0 $margin_large 0 0;
    }
  }
}
