<div local-class="header_container">
  <div local-class="header_text_container">
    <div local-class="header_name_container">
      {{@headerName}}
    </div>
    <div local-class="header_title_container">
      {{@headerTitle}}
    </div>
  </div>
    <div local-class="header_button_container">
      <LinkTo @route={{@headerButtonRoute}} local-class="nav_link" @tagName='div'>
        <div local-class="header_button" role="button">
            {{@headerButtonLabel}}
        </div>
      </LinkTo>
    </div>
</div>