@import 'global/breakpoints';
@import 'global/variables';

.article_component_container {
  display: flex;
  flex-direction: column;
  margin: $margin_large $margin_large $margin_large $margin_small;

  .article_component_title {
    font-size: 2em;
  }

  .article_component_author {
    margin: $margin_small 0 0;
  }

  .article_component_url {
    margin: $margin_small 0 0;
  }

  .article_component_creator {
    margin: $margin_small 0 $margin_large;
  }

  .article_component_paragraph_title {
    font-size: 2em;
    color: $color_dark_grey;
  }

  .article_component_paragraph {
    margin: $margin_small 0 0;
  }

  .article_component_paragraph_code_block_container {
    display: flex;
    min-width: 310px;
    max-width: 310px;
    min-height: $height_large;
    margin: $margin_small 0 0;
    color: $color_white;
    background-color: $color_black;
    align-self: center;
    align-items: center;

    @include breakpoint(medium) {
      min-width: 500px;
      max-width: 500px;
    }

    @include breakpoint(large) {
      min-width: 520px;
      max-width: 520px;
    }

    @include breakpoint(wide) {
      min-width: 600px;
      max-width: 600px;
    }

    .article_component_paragraph_code_block {
      display: flex;
      margin: 0 0 0 $margin_small;
    }
  }

  .article_component_image_container {
    width: 200px;
    height: 200px;
    margin: $margin_small 0 0;
    align-self: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}
