<div local-class="header">
  <div local-class="header_content">
  </div>
  <div local-class="header_content right">
    This is my portfolio.   Would you like to see it in Octane or React?
  </div>
</div>


