<div local-class="menu_container">
  <div local-class="title_container">
    <div local-class="title">
      Design Monster
    </div>
  </div>
  <div local-class="navigation_container">
    <div local-class="nav_item_container">
      <LinkTo @route="index">Home</LinkTo>
    </div>
    <div local-class="nav_item_container">
      <LinkTo @route={{@portfolioRoute}}>Portfolio</LinkTo>
    </div>
    <div local-class="nav_item_container">
      <LinkTo @route={{@resumeRoute}}>Resume</LinkTo>
    </div>
    <div local-class="nav_item_container">
      <LinkTo @route={{@ryanRoute}}>Ryan</LinkTo>
    </div>
  </div>
  <div local-class="some_other_section">
    some other section one <br>
    you can add as many sections as you need
  </div>
  <div local-class="some_other_section">
    some other section two <br>
    and it will scroll automatically for you, based on the content
  </div>
  <div local-class="some_other_section">
    some other section three
  </div>
  <div local-class="some_other_section">
    some other section four
  </div>
  <div local-class="some_other_section">
    some other section five
  </div>
  <div local-class="some_other_section">
    some other section six
  </div>
</div>


