
<div local-class="home_component_container">
  <section local-class="home_side_bar_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <nav>
      <Structural::Ui::SideBar />
    </nav>
  {{/if}}
  </section>
  <section local-class="home_content_container">
    <Dynamic::Ui::ContentSection />
  </section>
</div>