
<div local-class="home_component_container">
  <section local-class="home_side_bar_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <nav>
      <Structural::Ui::SideBar />
    </nav>
  {{/if}}
  </section>
  <section local-class="home_content_container">
    <div local-class="home_section_container grey">
      <Dynamic::Ui::ContentSection>
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      </Dynamic::Ui::ContentSection>
    </div>
    <Dynamic::Ui::ContentSection>
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
    </Dynamic::Ui::ContentSection>
    <div local-class="home_section_container grey">
      <Dynamic::Ui::ContentSection>
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      </Dynamic::Ui::ContentSection>
    </div>
    <Dynamic::Ui::ContentSection>
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
    </Dynamic::Ui::ContentSection>
    <div local-class="home_section_container grey">
      <Dynamic::Ui::ContentSection>
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
        <Dynamic::Ui::ContentBlock @contentImage="IMAGE" @contentText="TEXT" />
      </Dynamic::Ui::ContentSection>
    </div>
  </section>
</div>