.dashboard_row_header {
  margin: 0 $margin_small $margin_small;

  .dashboard_row_header_title {
    font-size: $font_size_large;
    font-weight: 600;
  }

  .dashboard_row_header_description {
    margin: $margin_small $margin_small 0 0;
    font-size: $font_size_regular;
  }
}

.dashboard_row_container {
  display: flex;
  margin: 0 $margin_large 0 0;

  .dashboard_row {
    display: flex;
    margin: $margin_small;
    overflow-x: scroll;
    align-items: center;

    a {
      color: $color_black;
      text-decoration: none;

      &:visited {
        color: $color_black;
      }
    }

    .dashboard_block {
      display: flex;
      min-width: 300px;
      max-width: 300px;
      min-height: 300px;
      max-height: 300px;
      flex-direction: column;
      margin: $margin_extra_small $margin_medium $margin_extra_small 0;
      background-color: $color_white;
      border: $border_three;
      border-radius: $border_radius_primary;
      justify-content: center;
      align-items: center;

      .dashboard_block_icon_container {
        display: flex;
        flex: 1;
        margin: $margin_extra_small;
        align-items: center;

        .dashboard_block_icon {
          display: flex;
          min-width: $size_large;
          max-width: $size_large;
          min-height: $height_large;
          max-height: $height_large;
          margin: $margin_extra_small;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: auto;
            border-radius: $border_radius_primary;
          }
        }
      }

      .dashboard_block_text {
        display: flex;
        flex: 1;
        margin: $margin_medium $margin_small $margin_small;
        overflow: auto;
      }

      .dashboard_block_image {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: auto;
          max-height: 300px;
          border-radius: $border_radius_primary;
        }
      }

      .dashboard_block_label {
        margin: $margin_extra_small;
        font-size: $font_size_extra_large;
        font-weight: 600;
        color: $color_dark_grey;
      }
    }
  }

  // .arrow {
  //   width: 50px;
  //   max-height: 305px;
  //   text-align: center;
  //   vertical-align: middle;
  //   line-height: 305px;
  //   border: $border_two;
  // }
}
