@import 'global/variables';
@import 'global/breakpoints';

.content_section {
  display: flex;
  min-height: 600px;
  flex: 1;
  margin: 0 $margin_extra_small 0 0;
  overflow-x: scroll;
  align-items: center;
}
