<div local-class="content_section grey">
  <div local-class="content_item">
    <div local-class="content_image">

    </div>
    <div local-class="content_text">

    </div>
  </div>
</div>
<div local-class="content_section">
  <div local-class="content_item">
    <div local-class="content_image">

    </div>
    <div local-class="content_text">

    </div>
  </div>
</div><div local-class="content_section grey">
  <div local-class="content_item">
    <div local-class="content_image">

    </div>
    <div local-class="content_text">

    </div>
  </div>
</div><div local-class="content_section ">
  <div local-class="content_item">
    <div local-class="content_image">

    </div>
    <div local-class="content_text">

    </div>
  </div>
</div><div local-class="content_section grey">
  <div local-class="content_item">
    <div local-class="content_image">

    </div>
    <div local-class="content_text">

    </div>
  </div>
</div>
