//Sizes
$size_extra_small: 0.390625rem; //6.25px
$size_small: 0.78125rem; //12.5px
$size_medium: 1.5625rem; //25px
$size_half_of_extra_large: 2.34375rem;
$size_large: 3.125rem; //50px
$size_extra_large: 4.6875rem; //75px
$size_extra_extra_large: 6.25rem;

//Colors
$color_white: #ffffff;
$color_almost_white: #fafafa;
$color_light_grey: #f0f0f0;
$color_black: #000000;
$color_orange: #ff4f00;
$color_blue: #05386b;
$color_royal_purple: #25274d;
$color_purple: lighten($color_royal_purple, 10%);
$color_stone_blue: #336b87;
$color_pebble_blue: lighten($color_stone_blue, 50%);

//Borders
$border_one_color: $color_pebble_blue;
$border_two_color: $color_light_grey;
$border_one_thickness: 3px;
$border_two_thickness: 1px;

$border_one: solid $border_one_thickness $border_one_color;
$border_two: solid $border_two_thickness $border_two_color;

//Borders Radius
$border_radius_small: 3px;
$border_radius_medium: 8px;

//Buttons
$button_height_base: 2.75;
$button_height_base_mini: 2;
$button_padding_base: 0;

//Margins
$margin_extra_small: $size_extra_small; //base margin for spacing between edges
$margin_small: $size_small;
$margin_medium: $size_medium;
$margin_large: $size_large;
$margin_extra_large: $size_extra_large;

//Padding
$padding_extra_small: $size_extra_small;  
$padding_small: $size_small;
$padding_medium: $size_medium;
$padding_large: $size_large;

//Heights
$height_medium: $size_medium;
$height_half_of_extra_large: $size_half_of_extra_large;
$height_large: $size_large;
$height_extra_large: $size_extra_large;
$height_extra_extra_large: $size_extra_extra_large;
