@import 'global/variables';
@import 'global/breakpoints';

.blog_show_page_container {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
  }

  @include breakpoint(wide) {
    flex-direction: row;
  }

  .blog_show_page_side_bar_container {
    display: flex;
    min-width: 17.1875rem;
    max-width: 17.1875rem;
    flex-direction: column;
    overflow-y: scroll;
    border-right: $border_three;
    justify-content: center;
  }

  .blog_show_page_body_container {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;

    .blog_show_page_content_container {
      justify-content: center;
      align-items: center;

      .article_container {
        display: flex;
        flex-direction: column;
        margin: $margin_large $margin_large $margin_large $margin_small;

        .article_title {
          font-size: 2em;
        }

        .article_author {
          margin: $margin_small 0 0;
        }

        .article_main_container {
          margin: $margin_small 0 0;
          font-size: 1.25em;

          .article_paragraph_title {
            margin: $margin_small 0 0;
            font-size: 2em;
            color: $color_dark_grey;
          }

          .article_paragraph_code_block_container {
            display: flex;
            min-width: 310px;
            max-width: 310px;
            min-height: $height_large;
            margin: $margin_small 0 0;
            color: $color_white;
            background-color: $color_black;
            align-items: center;
        
            @include breakpoint(medium) {
              min-width: 500px;
              max-width: 500px;
            }
        
            @include breakpoint(large) {
              min-width: 520px;
              max-width: 520px;
            }
        
            @include breakpoint(wide) {
              min-width: 600px;
              max-width: 600px;
            }

            .article_paragraph_code_block {
              display: flex;
              margin: 0 0 0 $margin_small;

              span {
                &.code_output {
                  color: $color_yellow;
                }

                &.master_output {
                  color: $color_green;
                }

                &.red_output {
                  color: $color_red;
                }
              }
            }
          }
        }
      }
    }
  }
}
