@import 'global/variables';
@import 'global/breakpoints';

.content_item {
  display: flex;
  min-width: 300px;
  max-width: 300px;
  min-height: 500px;
  max-height: 500px;
  flex-direction: column;
  margin: $margin_extra_small;
  background-color: $color_white;
  border: $border_two;
  border-radius: $border_radius_small;
  justify-content: center;
  align-items: center;

  .content_image {
    flex: 1;
  }

  .content_text {
    flex: 1;
  }
}
