@import 'global/variables';
@import 'global/breakpoints';

.flex {
  display: flex;
  min-height: 100%;
  flex: 1;
  flex-direction: column;

  .title {
    height: $height_large;
    min-height: $height_medium;
  }

  .flex_section {
    display: flex;
    flex-direction: column;

    &.top {
      background-color: $color_orange;
    } 

    &.bottom {
      flex: 1;
      background-color: $color_purple;
    }

    .flex_container {
      display: flex;
      min-height: $size_medium;
      flex: 1;
    }
  }
}

.header {
  display: flex;
  height: $height_large;
  min-height: $height_medium;
  flex: 1;
  background-color: $color_blue;
  align-items: center;

.button_container {
  margin: 0 0 0 $margin_extra_small;

    button {
      border: 0;
      outline: none;
    }
  }

  .other_container {
    flex: 1;
    text-align: center;
  }
}

