@import 'global/variables';
@import 'global/breakpoints';

.menu_container {
  display: flex;
  min-height: 100%;
  flex: 1;
  flex-direction: column;
  background-color: $color_stone_blue;

  .title {
    height: $height_large;
    min-height: $height_medium;
  }

  .navigation {
    display: flex;
    flex-direction: column;

    .nav_item_container {
      display: flex;
      min-height: $size_medium;
      flex: 1;
    }
  }

  .some_other_section {
    display: flex;
    min-height: 50px;
    margin: 5px 0 0;
    background-color: $color_orange;
  }
}

.header {
  display: flex;
  height: $height_large;
  min-height: $height_medium;
  flex: 1;
  background-color: $color_blue;
  align-items: center;

.toggle_container {
  margin: 0 0 0 $margin_extra_small;

    button {
      border: 0;
      outline: none;
    }
  }

  .some_other_container {
    flex: 1;
    color: $color_white;
    text-align: center;
  }
}
