  <nav>
    <MobileMenuWrapper as |mmw|>
      <mmw.MobileMenu as |mm|>
        <div local-class="flex">
          <div local-class="title">
            Roderick Developers
          </div>
          <div local-class="flex_section top">
            <div local-class="flex_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
            <div local-class="flex_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
            <div local-class="flex_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
            <div local-class="flex_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
          </div>
          <div local-class="flex_section bottom">

          </div>
        </div>
      </mmw.MobileMenu>
      <mmw.Content>
        <div local-class="header">
          <div local-class="button_container">
            <mmw.Toggle>
              <FaIcon @icon="bars" @prefix="fas" @size='2x' />
            </mmw.Toggle>
          </div>
          <div local-class="other_container">
            This is where other stuff goes
          </div>
        </div>
        {{yield}}
      </mmw.Content>
    </MobileMenuWrapper>
  </nav>
