  <nav>
    <MobileMenuWrapper as |mmw|>
      <mmw.MobileMenu as |mm|>
        <div local-class="menu_container">
          <div local-class="title">
            Design Monster
          </div>
          <div local-class="navigation">
            <div local-class="nav_item_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
            <div local-class="nav_item_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
            <div local-class="nav_item_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
            <div local-class="nav_item_container">
              <mm.LinkTo @route="index">Home</mm.LinkTo>
            </div>
          </div>
          <div local-class="some_other_section">
            some other section one <br>
            you can add as many sections as you need
          </div>
          <div local-class="some_other_section">
            some other section two <br>
            and it will scroll automatically for you, based on the content
          </div>
          <div local-class="some_other_section">
            some other section three
          </div>
          <div local-class="some_other_section">
            some other section four
          </div>
          <div local-class="some_other_section">
            some other section five
          </div>
          <div local-class="some_other_section">
            some other section six
          </div>
        </div>
      </mmw.MobileMenu>
      <mmw.Content>
        <div local-class="header">
          <div local-class="toggle_container">
            <mmw.Toggle>
              <FaIcon @icon="bars" @prefix="fas" @size='2x' />
            </mmw.Toggle>
          </div>
          <div local-class="some_other_container">
            This is where other stuff goes
          </div>
        </div>
        {{yield}}
      </mmw.Content>
    </MobileMenuWrapper>
  </nav>
